Import the libraries that we will use in this script

In [2]:
import pandas as pd
import numpy as np

Read in data set

In [3]:
train = pd.read_excel('C:/Users/BenBen Chen/Python Practice/Project_Big market predict/train.xlsx')
test = pd.read_excel('C:/Users/BenBen Chen/Python Practice/Project_Big market predict/test.xlsx')

In [4]:
#concatenate the train data and test data, and add 'source' column as tag to differentiate two source  
train['source'] = 'train'
test['source'] = 'test'
concat_data = pd.concat([train, test], ignore_index=True, sort=True)

In [5]:
concat_data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train